---
layout: gallery
title: $model.metadata.galleryName.value

description: $model.metadata.groupDescription.value

<% n = 0 %>
galleries:
<lr:ThumbnailGrid>
<lr:GridPhotoCell>
<%
	local large = image.renditions.large
	if n < 5 and (large.width > large.height) then
%>
  - img: $model.photoSizes.large.directory/<%= image.exportFilename %>.jpg
<%
		n = n+1
	end
%>
</lr:GridPhotoCell>
</lr:ThumbnailGrid>

---

<lr:ThumbnailGrid>
<lr:GridPhotoCell><%

	local function notempty(s)
		return s and s ~= ''
	end

	local function getfirstnonempty(...)
		for i, v in ipairs(arg) do
			if notempty(v) then
				return v
			end
		end
	end

	local thumb = image.renditions.thumb
	local metadata = image.metadata

	local title = getfirstnonempty(metadata.title, metadata.location, metadata.city, metadata.state, metadata.country)

	if metadata.date then
		if notempty(title) then
			title = title .. ", " .. metadata.date
		else
			title = metadata.date
		end
	end

%><a href="$model.photoSizes.large.directory/<%= image.exportFilename %>.jpg" title="$title"><img src="$model.photoSizes.thumb.directory/<%= image.exportFilename %>.jpg" width="$thumb.width" height="$thumb.height" alt="$title" /></a>
</lr:GridPhotoCell>
</lr:ThumbnailGrid>
